<div class="launch-container">
    <div class="img-container">
        <img class="launch-img" [src]="launch.links.mission_patch" alt="{{launch.mission_name}}">
    </div>
    <div class="launch-title">{{launch.mission_name + ' #' + launch.flight_number}}</div>
    <div class="launch-details">
        <div class="detail-row">
            <span class="detail-label">Mission IDs:</span> {{launch.mission_id}}
        </div>
        <div class="detail-row">
            <span class="detail-label">Launch Year:</span> {{launch.launch_year}}
        </div>
        <div class="detail-row">
            <span class="detail-label">Successful Launch:</span> {{launch.launch_success.toString() | titlecase }}
        </div>
        <div class="detail-row">
            <span class="detail-label">Successful Landing:</span> {{launch.rocket.first_stage.cores[0].land_success ?
            'True' : 'False'}}
        </div>
    </div>
</div>